* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  /* min-height: 100vh; */
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding-top: 3rem;
}

h1 {
  padding: 1rem;
  margin: 1rem;
  font-size: 20px;
  background-color: #1b1a1a;
  color: aliceblue;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  margin: 1rem;
}


.g{
  
  font-size: 10px;
  text-align: center;
  display: flex-box;
  padding: 2em;
  background-color: green;
  justify-content: center;
  justify-items: center;
  margin: 5px;
}
.p{
  background: #fd2121;
  text-align: center;
  justify-content: center;
  justify-items: center;
  
  padding: 2rem;
}
.c{
  background-color: #0affad;
padding: 2rem;
text-align: center;
  justify-content: center;
  justify-items: center;
}